<div class="footer">
    <div class="pull-right">
        <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">@ViewBag.Aplicacion - @ViewBag.Empresa </span>
    </div>
    <div>
        <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext"> <strong>Copyright</strong> @ViewBag.Empresa &copy; 2016 </span>
        
    </div>
</div>
